html,body,#root{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #dadada;
  color: #1f2023;
}
.mainCont{
  width: 100%;
  height: 100%;
  background: url('assets/time.jpeg') no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.timeData{
  margin: 0;
  font-family: "Jersey 25 Charted";
  font-weight: 400;
  font-size: 26px;
}
.day{}
.afternoon{
  color: #fff;
  filter: brightness(.7) contrast(4);
}
.night{
  filter: invert(1);
}